# 念のため macOS 系の不要ファイル
.DS_Store

# サンプルスケッチ一式（PlatformIO プロジェクトへ移植済みのため未使用）
JC1060P470_Arduino_GFX_Demo/
JC1060P470_touch/

# PlatformIO ビルドキャッシュ / 依存ライブラリ（自動生成）
pio_p4_test/.pio/
pio_lvgl/.pio/
pio_lvgl2/.pio/
pio_lvgl_touch/.pio/
